
<div class="detail-container">
    <div>
        <img src={{showedProduct.image}}   alt="">
    </div>



    <div class="detail-item">

       
 
    <h1 >{{showedProduct.title}}</h1>
    <h3>${{showedProduct.price}}</h3>
    <h3>{{showedProduct.description}}</h3>
 
    
   
    <select class="select-input"name="" id="" [value]="1">
        <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
    </select>
    <br>
    
    <button  type="button" class="btn btn-primary">Add to cart</button>
    <br>

    <div class="back-link">
    <a  routerLink="/">Back to product list</a>
    </div> 
    </div>










</div>