img {
    border-radius: 10px;
    width: 300px;
  }
  
  .select-input {
    width: 108px; 
    margin-bottom: 20px;
  }
  
  .detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }


  h3{

    
    
  }
  
  .detail-item {
    margin-left: 128px;
    margin-right: 128px;

    max-width: 280px;
  }
  
  .back-link {
    margin-top: 10px;
  }

  @media (max-width:900px) {

    h1{
        margin-top:20px
    }

    
    .detail-container{
        display:flex;
        flex-direction:column;
    }
    
  }